.grid-wrapper-min-max {
  grid-gap: 2rem;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  width: 100%
}

.grid-wrapper-min-max .grid-item {
  box-sizing: border-box;
  display: block;
  width: 100%
}

#main-aside-wrapper .grid-wrapper-min-max {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr))!important
}

#main-content-wrapper.grid-wrapper-min-max {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
  display: grid;
  grid-template-areas: "main main main navigation" "main main main sidebar";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%
}

#main-content-wrapper.grid-wrapper-min-max .layout-grid-area-one {
  background: pink;
  grid-area: main
}

#main-content-wrapper.grid-wrapper-min-max .layout-grid-area-two {
  background: #ff0;
  grid-area: navigation
}

#main-content-wrapper.grid-wrapper-min-max .layout-grid-area-three {
  background: lime;
  grid-area: sidebar
}

@media (max-width:1023px) {
  #main-content-wrapper.grid-wrapper-min-max {
      grid-gap: 1rem;
      grid-template-areas: "navigation navigation navigation navigation" "main main main main" "sidebar sidebar sidebar sidebar"
  }
}

.grid-wrapper-min-max.one-column {
  grid-gap: 0
}

.grid-wrapper-min-max.eight-column-four-column,
.grid-wrapper-min-max.four-column,
.grid-wrapper-min-max.four-column-eight-column,
.grid-wrapper-min-max.nine-column-three-column,
.grid-wrapper-min-max.three-column,
.grid-wrapper-min-max.three-column-nine-column,
.grid-wrapper-min-max.two-column {
  grid-gap: 2rem
}

@media (max-width:735px) {
  .grid-wrapper-min-max.eight-column-four-column .grid-item,
  .grid-wrapper-min-max.four-column .grid-item,
  .grid-wrapper-min-max.four-column-eight-column .grid-item,
  .grid-wrapper-min-max.nine-column-three-column .grid-item,
  .grid-wrapper-min-max.three-column .grid-item,
  .grid-wrapper-min-max.three-column-nine-column .grid-item,
  .grid-wrapper-min-max.two-column .grid-item {
      margin: 1rem 0!important
  }
}

.grid-wrapper-min-max.one-column {
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr))
}

.grid-wrapper-min-max.two-column {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
}

.grid-wrapper-min-max.four-column,
.grid-wrapper-min-max.three-column {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
}

.grid-wrapper-min-max.four-column-eight-column {
  grid-template-columns: 33% auto
}

.grid-wrapper-min-max.eight-column-four-column {
  grid-template-columns: auto 33%
}

.grid-wrapper-min-max.three-column-nine-column {
  grid-template-columns: 25% auto
}

.grid-wrapper-min-max.nine-column-three-column {
  grid-template-columns: auto 25%
}

@media only screen and (max-width:1200px) {
  #panel-cards .grid-wrapper-min-max.four-column,
  #panel-numbers .grid-wrapper-min-max.four-column {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
  }
}

#panel-cards .container.portrait .grid-wrapper-min-max.four-column {
  display: grid!important;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr))
}

@media (max-width:1023px) {
  #panel-cards .container.portrait .grid-wrapper-min-max.four-column {
      grid-template-columns: repeat(auto-fit, minmax(255px, 1fr))
  }
}

@media (max-width:735px) {
  #panel-cards .container.portrait .grid-wrapper-min-max.four-column {
      display: block!important;
      width: 100%
  }
}

@media (max-width:1023px) {
  #panel-cards .container.container-100.portrait,
  #panel-cards .container.container-50.portrait,
  #panel-cards .container.container-80.portrait,
  #panel-cards .container.portrait {
      width: 80%
  }
}

@media (max-width:735px) {
  #panel-cards .container.container-100.portrait,
  #panel-cards .container.container-50.portrait,
  #panel-cards .container.container-80.portrait,
  #panel-cards .container.portrait {
      width: 70%
  }
}

#panel-intro .grid-wrapper-min-max {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
  display: grid;
  grid-template-areas: "intro intro intro navigation" "intro intro intro sidebar";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%
}

#panel-intro .grid-wrapper-min-max .grid-area-one {
  grid-area: intro
}

#panel-intro .grid-wrapper-min-max .grid-area-two {
  grid-area: navigation
}

#panel-intro .grid-wrapper-min-max .grid-area-three {
  grid-area: sidebar
}

@media (max-width:1023px) {
  #panel-intro .grid-wrapper-min-max {
      grid-gap: 1rem;
      grid-template-areas: "navigation navigation navigation navigation" "intro intro intro intro" "sidebar sidebar sidebar sidebar"
  }
}

@media only screen and (max-width:768px) {
  .grid-wrapper-min-max.eight-column-four-column,
  .grid-wrapper-min-max.four-column,
  .grid-wrapper-min-max.four-column-eight-column,
  .grid-wrapper-min-max.nine-column-three-column,
  .grid-wrapper-min-max.three-column,
  .grid-wrapper-min-max.three-column-nine-column,
  .grid-wrapper-min-max.two-column {
      box-sizing: border-box;
      display: block;
      margin: 0;
      width: 100%
  }
}

.grid-wrapper-min-max.grid-gap-lg {
  grid-gap: 3rem
}

.grid-wrapper-min-max.grid-gap-md {
  grid-gap: 2rem
}

.grid-wrapper-min-max.grid-gap-sm {
  grid-gap: 1rem
}

.grid-wrapper-min-max.grid-gap-none,
.grid-wrapper-no-gap {
  grid-gap: 0
}

.grid-wrapper-min-max.grid-gap-lg.grid-row-gap-lg,
.grid-wrapper-min-max.grid-gap-md.grid-row-gap-lg,
.grid-wrapper-min-max.grid-gap-none.grid-row-gap-lg,
.grid-wrapper-min-max.grid-gap-sm.grid-row-gap-lg {
  grid-row-gap: 3rem
}

.grid-wrapper-min-max.grid-gap-lg.grid-row-gap-md,
.grid-wrapper-min-max.grid-gap-md.grid-row-gap-md,
.grid-wrapper-min-max.grid-gap-none.grid-row-gap-md,
.grid-wrapper-min-max.grid-gap-sm.grid-row-gap-md {
  grid-row-gap: 2rem
}

.grid-wrapper-min-max.grid-gap-lg.grid-row-gap-sm,
.grid-wrapper-min-max.grid-gap-md.grid-row-gap-sm,
.grid-wrapper-min-max.grid-gap-none.grid-row-gap-sm,
.grid-wrapper-min-max.grid-gap-sm.grid-row-gap-sm {
  grid-row-gap: 1rem
}

.grid-wrapper-min-max {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  display: -ms-grid
}

.grid-wrapper-min-max .grid-item:first-child {
  -ms-grid-column-span: 3;
  -ms-grid-column: 1
}

.grid-wrapper-min-max .grid-item:nth-child(2) {
  -ms-grid-column-span: 3;
  -ms-grid-column: 4
}

.grid-wrapper-min-max .grid-item:nth-child(3) {
  -ms-grid-column-span: 3;
  -ms-grid-column: 7
}

.grid-wrapper-min-max .grid-item:nth-child(4) {
  -ms-grid-column-span: 3;
  -ms-grid-column: 10
}

.grid-wrapper-min-max.one-column .grid-item {
  -ms-grid-column-span: 12;
  -ms-grid-row-span: 0
}

.grid-wrapper-min-max.one-column .grid-item:first-child {
  -ms-grid-column-span: 12;
  -ms-grid-column: 1
}

.grid-wrapper-min-max.one-column .grid-item:nth-child(2),
.grid-wrapper-min-max.one-column .grid-item:nth-child(3),
.grid-wrapper-min-max.one-column .grid-item:nth-child(4) {
  display: none
}

.grid-wrapper-min-max.two-column .grid-item {
  -ms-grid-column-span: 6
}

.grid-wrapper-min-max.two-column .grid-item:first-child {
  -ms-grid-column-span: 6;
  -ms-grid-column: 1
}

.grid-wrapper-min-max.two-column .grid-item:nth-child(2) {
  -ms-grid-column-span: 6;
  -ms-grid-column: 7
}

.grid-wrapper-min-max.two-column .grid-item:nth-child(3),
.grid-wrapper-min-max.two-column .grid-item:nth-child(4) {
  display: none
}

.grid-wrapper-min-max.three-column .grid-item {
  -ms-grid-column-span: 4
}

.grid-wrapper-min-max.three-column .grid-item:first-child {
  -ms-grid-column-span: 4;
  -ms-grid-column: 1
}

.grid-wrapper-min-max.three-column .grid-item:nth-child(2) {
  -ms-grid-column-span: 4;
  -ms-grid-column: 5
}

.grid-wrapper-min-max.three-column .grid-item:nth-child(3) {
  -ms-grid-column-span: 4;
  -ms-grid-column: 9
}

.grid-wrapper-min-max.three-column .grid-item:nth-child(4) {
  display: none
}

.grid-wrapper-min-max.four-column {
  -ms-grid-column-span: 3
}

.grid-wrapper-min-max.four-column .grid-item:first-child {
  -ms-grid-column-span: 3;
  -ms-grid-column: 1
}

.grid-wrapper-min-max.four-column .grid-item:nth-child(2) {
  -ms-grid-column-span: 3;
  -ms-grid-column: 4
}

.grid-wrapper-min-max.four-column .grid-item:nth-child(3) {
  -ms-grid-column-span: 3;
  -ms-grid-column: 7
}

.grid-wrapper-min-max.four-column .grid-item:nth-child(4) {
  -ms-grid-column-span: 3;
  -ms-grid-column: 10
}

.grid-wrapper-min-max.four-column-eight-column {
  -ms-grid-columns: 33% 1fr
}

.grid-wrapper-min-max.eight-column-four-column {
  -ms-grid-columns: 1fr 33%
}

.grid-wrapper-min-max.three-column-nine-column {
  -ms-grid-columns: 25% 1fr
}

.grid-wrapper-min-max.nine-column-three-column {
  -ms-grid-columns: 1fr 25%
}

.grid-wrapper-min-max.three-column-nine-column .grid-item:first-child {
  -ms-grid-column-span: 3;
  -ms-grid-column: 1
}

.grid-wrapper-min-max.three-column-nine-column .grid-item:nth-child(2) {
  -ms-grid-column-span: 9;
  -ms-grid-column: 4
}

.grid-wrapper-min-max.three-column-nine-column .grid-item:nth-child(3),
.grid-wrapper-min-max.three-column-nine-column .grid-item:nth-child(4) {
  display: none
}

.grid-wrapper-min-max.nine-column-three-column .grid-item:first-child {
  -ms-grid-column-span: 9;
  -ms-grid-column: 1
}

.grid-wrapper-min-max.nine-column-three-column .grid-item:nth-child(2) {
  -ms-grid-column-span: 3;
  -ms-grid-column: 10
}

.grid-wrapper-min-max.nine-column-three-column .grid-item:nth-child(3),
.grid-wrapper-min-max.nine-column-three-column .grid-item:nth-child(4) {
  display: none
}

.grid-wrapper-min-max.eight-column-four-column .grid-item:first-child {
  -ms-grid-column-span: 8;
  -ms-grid-column: 1
}

.grid-wrapper-min-max.eight-column-four-column .grid-item:nth-child(2) {
  -ms-grid-column-span: 12;
  -ms-grid-column: 9
}

.grid-wrapper-min-max.eight-column-four-column .grid-item:nth-child(3),
.grid-wrapper-min-max.eight-column-four-column .grid-item:nth-child(4) {
  display: none
}

.grid-wrapper-min-max.four-column-eight-column .grid-item:first-child {
  -ms-grid-column-span: 4;
  -ms-grid-column: 1
}

.grid-wrapper-min-max.four-column-eight-column .grid-item:nth-child(2) {
  -ms-grid-column-span: 12;
  -ms-grid-column: 5
}

.grid-wrapper-min-max.four-column-eight-column .grid-item:nth-child(3),
.grid-wrapper-min-max.four-column-eight-column .grid-item:nth-child(4) {
  display: none
}

@supports (-ms-ime-align:auto) {
  .grid-wrapper-min-max.one-column {
      grid: 0
  }
  #panel-cards .grid-wrapper-min-max.card-horizontal .grid-item,
  .grid-wrapper-min-max.eight-column-four-column .grid-item,
  .grid-wrapper-min-max.four-column .grid-item,
  .grid-wrapper-min-max.four-column-eight-column .grid-item,
  .grid-wrapper-min-max.nine-column-three-column .grid-item,
  .grid-wrapper-min-max.one-column .grid-item,
  .grid-wrapper-min-max.three-column .grid-item,
  .grid-wrapper-min-max.three-column-nine-column .grid-item,
  .grid-wrapper-min-max.two-column .grid-item {
      padding: 1rem
  }
}

@media only screen and (max-width:768px) {
  .grid-wrapper-min-max.four-column .grid-item,
  .grid-wrapper-min-max.four-column .grid-item:first-child,
  .grid-wrapper-min-max.four-column .grid-item:nth-child(2),
  .grid-wrapper-min-max.four-column .grid-item:nth-child(3),
  .grid-wrapper-min-max.four-column .grid-item:nth-child(4),
  .grid-wrapper-min-max.one-column .grid-item:first-child,
  .grid-wrapper-min-max.three-column .grid-item,
  .grid-wrapper-min-max.three-column .grid-item:first-child,
  .grid-wrapper-min-max.three-column .grid-item:nth-child(2),
  .grid-wrapper-min-max.three-column .grid-item:nth-child(3),
  .grid-wrapper-min-max.two-column .grid-item,
  .grid-wrapper-min-max.two-column .grid-item:first-child,
  .grid-wrapper-min-max.two-column .grid-item:nth-child(2) {
      -ms-grid-column-span: 12;
      display: block;
      -ms-grid-column: 1;
      margin: 0 auto
  }
  .grid-wrapper-min-max.eight-column-four-column .grid-item:first-child,
  .grid-wrapper-min-max.eight-column-four-column .grid-item:nth-child(2),
  .grid-wrapper-min-max.eight-column-four-column .grid-item:nth-child(3),
  .grid-wrapper-min-max.eight-column-four-column .grid-item:nth-child(4),
  .grid-wrapper-min-max.four-column-eight-column .grid-item:first-child,
  .grid-wrapper-min-max.four-column-eight-column .grid-item:nth-child(2),
  .grid-wrapper-min-max.four-column-eight-column .grid-item:nth-child(3),
  .grid-wrapper-min-max.four-column-eight-column .grid-item:nth-child(4),
  .grid-wrapper-min-max.nine-column-three-column .grid-item:first-child,
  .grid-wrapper-min-max.nine-column-three-column .grid-item:nth-child(2),
  .grid-wrapper-min-max.nine-column-three-column .grid-item:nth-child(3),
  .grid-wrapper-min-max.nine-column-three-column .grid-item:nth-child(4),
  .grid-wrapper-min-max.three-column-nine-column .grid-item:first-child,
  .grid-wrapper-min-max.three-column-nine-column .grid-item:nth-child(2),
  .grid-wrapper-min-max.three-column-nine-column .grid-item:nth-child(3),
  .grid-wrapper-min-max.three-column-nine-column .grid-item:nth-child(4) {
      -ms-grid-column-span: 12;
      display: block;
      -ms-grid-column: 1
  }
}

@media only screen and (max-width:768px) and (max-width:735px) {
  .grid-item {
      display: block;
      margin: 1rem 0
  }
}

#panel-image-grid .grid-wrapper-min-max .grid-item {
  height: auto
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {
  #panel-intro .grid-area-one {
      -ms-grid-column-span: 3;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
      -ms-grid-row: 1;
      margin: 0 2rem 0 0
  }
}

@media screen and (-ms-high-contrast:active) and (max-width:735px),
screen and (-ms-high-contrast:none) and (max-width:735px) {
  #panel-intro .grid-area-one {
      -ms-grid-column-span: 4;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 2
  }
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {
  #panel-intro .grid-area-two {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 4;
      -ms-grid-row: 1;
      margin: 0 0 2rem
  }
}

@media screen and (-ms-high-contrast:active) and (max-width:735px),
screen and (-ms-high-contrast:none) and (max-width:735px) {
  #panel-intro .grid-area-two {
      -ms-grid-column-span: 4;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 1
  }
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {
  #panel-intro .grid-area-three {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 4;
      -ms-grid-row: 2
  }
}

@media screen and (-ms-high-contrast:active) and (max-width:735px),
screen and (-ms-high-contrast:none) and (max-width:735px) {
  #panel-intro .grid-area-three {
      -ms-grid-column-span: 4;
      -ms-grid-column: 1;
      -ms-grid-row: 3
  }
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {
  #panel-intro #home {
      display: block
  }
  .grid-wrapper-min-max.one-column {
      grid: 0
  }
  #panel-cards .grid-wrapper-min-max.card-horizontal .grid-item,
  .grid-wrapper-min-max.eight-column-four-column .grid-item,
  .grid-wrapper-min-max.four-column .grid-item,
  .grid-wrapper-min-max.four-column-eight-column .grid-item,
  .grid-wrapper-min-max.nine-column-three-column .grid-item,
  .grid-wrapper-min-max.one-column .grid-item,
  .grid-wrapper-min-max.three-column .grid-item,
  .grid-wrapper-min-max.three-column-nine-column .grid-item,
  .grid-wrapper-min-max.two-column .grid-item {
      padding: 1rem
  }
  #modaal-content-carousel .grid-wrapper-min-max:first-child .grid-item,
  #panel-accordion .grid-wrapper-min-max:first-child .grid-item,
  #panel-audio .grid-wrapper-min-max:first-child .grid-item,
  #panel-carousel-scroll .grid-wrapper-min-max:first-child .grid-item,
  #panel-form .grid-wrapper-min-max:first-child .grid-item,
  #panel-image-caption .grid-wrapper-min-max:first-child .grid-item,
  #panel-image-lead .grid-wrapper-min-max:first-child .grid-item,
  #panel-image-lead-resize .grid-wrapper-min-max:first-child .grid-item,
  #panel-pagination .grid-wrapper-min-max:first-child .grid-item,
  #panel-tabs .grid-wrapper-min-max:first-child .grid-item,
  #panel-video-embed .grid-wrapper-min-max:first-child .grid-item {
      -ms-grid-column-span: 12!important
  }
  #panel-image-lead .grid-wrapper-min-max .grid-item:first-child {
      -ms-grid-column-span: 12;
      -ms-grid-column: 1
  }
  #panel-image-grid .grid-wrapper-min-max {
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      display: -ms-grid
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item {
      display: -ms-flexbox
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item img {
      height: 100%;
      width: 100%
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:first-child {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 1
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(2) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-row: 1
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(3) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 3;
      -ms-grid-row: 1
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(4) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 4;
      -ms-grid-row: 1
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(5) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 2
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(6) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-row: 2
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(7) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 3;
      -ms-grid-row: 2
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(8) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 4;
      -ms-grid-row: 2
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(9) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 3
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(10) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-row: 3
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(11) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 3;
      -ms-grid-row: 3
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(12) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 4;
      -ms-grid-row: 3
  }
  #panel-image-text .grid-wrapper-grid-area .grid-area-image {
      -ms-grid-column-span: 2;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 1
  }
}

@media screen and (-ms-high-contrast:active) and (max-width:735px),
screen and (-ms-high-contrast:none) and (max-width:735px) {
  #panel-image-text .grid-wrapper-grid-area .grid-area-image {
      -ms-grid-column-span: 4;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 1
  }
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {
  #panel-image-text .grid-wrapper-grid-area .grid-area-content {
      -ms-grid-column-span: 2;
      -ms-grid-row-span: 1;
      -ms-grid-column: 3;
      -ms-grid-row: 1
  }
}

@media screen and (-ms-high-contrast:active) and (max-width:735px),
screen and (-ms-high-contrast:none) and (max-width:735px) {
  #panel-image-text .grid-wrapper-grid-area .grid-area-content {
      -ms-grid-column-span: 4;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 2
  }
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {
  #panel-image-text .grid-wrapper-grid-area.toggle-grid-area .grid-area-image {
      -ms-grid-column-span: 2;
      -ms-grid-row-span: 1;
      -ms-grid-column: 3;
      -ms-grid-row: 1
  }
}

@media screen and (-ms-high-contrast:active) and (max-width:735px),
screen and (-ms-high-contrast:none) and (max-width:735px) {
  #panel-image-text .grid-wrapper-grid-area.toggle-grid-area .grid-area-image {
      -ms-grid-column-span: 4;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 1
  }
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {
  #panel-image-text .grid-wrapper-grid-area.toggle-grid-area .grid-area-content {
      -ms-grid-column-span: 2;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 1
  }
}

@media screen and (-ms-high-contrast:active) and (max-width:735px),
screen and (-ms-high-contrast:none) and (max-width:735px) {
  #panel-image-text .grid-wrapper-grid-area.toggle-grid-area .grid-area-content {
      -ms-grid-column-span: 4;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 2
  }
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {
  #panel-image-grid-area .grid-wrapper-grid-area {
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      -ms-grid-rows: 1fr 1fr 1fr 1fr;
      display: -ms-grid
  }
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area {
      display: -ms-flexbox
  }
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area img {
      height: 100%;
      width: 100%
  }
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area.grid-area-one {
      -ms-grid-column-span: 3;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
      -ms-grid-row: 1
  }
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area.grid-area-two {
      -ms-grid-column-span: 1;
      -ms-grid-column: 4;
      -ms-grid-row: 1
  }
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area.grid-area-three {
      -ms-grid-column-span: 1;
      -ms-grid-column: 4;
      -ms-grid-row: 2
  }
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area.grid-area-four {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 3
  }
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area.grid-area-five {
      -ms-grid-column-span: 3;
      -ms-grid-row-span: 2;
      -ms-grid-column: 2;
      -ms-grid-row: 3
  }
  .calendar-card-date {
      margin: 0 0 1.125rem
  }
  #panel-image-highlights .grid-wrapper-min-max.three-column .grid-item {
      padding: 0
  }
  #panel-carousel-scroll .grid-wrapper-min-max {
      min-height: 700px
  }
  #panel-carousel-scroll .grid-wrapper-min-max:first-child .grid-item .item-content {
      padding: 4rem
  }
  #panel-image-caption .grid-wrapper-min-max :first-child.grid-item {
      -ms-grid-column-span: 12!important
  }
}

@media only screen and (-ms-high-contrast:active) and (max-width:1080px),
only screen and (-ms-high-contrast:none) and (max-width:1080px) {
  #panel-image-grid .grid-wrapper-min-max {
      -ms-grid-columns: 1fr 1fr 1fr
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:first-child {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 1
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(2) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-row: 1
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(3) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 3;
      -ms-grid-row: 1
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(4) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 2
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(5) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-row: 2
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(6) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 3;
      -ms-grid-row: 2
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(7) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 3
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(8) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-row: 3
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(9) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 3;
      -ms-grid-row: 3
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(10) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 4
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(11) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-row: 4
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(12) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 3;
      -ms-grid-row: 4
  }
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area.grid-area-one {
      -ms-grid-column-span: 4;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
      -ms-grid-row: 1
  }
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area.grid-area-two {
      -ms-grid-column-span: 2;
      -ms-grid-column: 1;
      -ms-grid-row: 3
  }
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area.grid-area-three {
      -ms-grid-column-span: 2;
      -ms-grid-column: 3;
      -ms-grid-row: 3
  }
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area.grid-area-four {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
      -ms-grid-row: 4
  }
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area.grid-area-five {
      -ms-grid-column-span: 3;
      -ms-grid-row-span: 2;
      -ms-grid-column: 2;
      -ms-grid-row: 4
  }
}

@media only screen and (-ms-high-contrast:active) and (max-width:768px),
only screen and (-ms-high-contrast:none) and (max-width:768px) {
  #panel-image-grid .grid-wrapper-min-max {
      -ms-grid-columns: 1fr 1fr
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:first-child {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 1
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(2) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-row: 1
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(3) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 2
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(4) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-row: 2
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(5) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 3
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(6) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-row: 3
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(7) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 4
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(8) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-row: 4
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(9) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 5
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(10) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-row: 5
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(11) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 6
  }
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(12) {
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-row: 6
  }
}

@media only screen and (-ms-high-contrast:active) and (max-width:415px),
only screen and (-ms-high-contrast:none) and (max-width:415px) {
  #panel-image-grid .grid-wrapper-min-max,
  #panel-image-grid .grid-wrapper-min-max .grid-item:first-child,
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(10),
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(11),
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(12),
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(2),
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(3),
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(4),
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(5),
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(6),
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(7),
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(8),
  #panel-image-grid .grid-wrapper-min-max .grid-item:nth-child(9),
  #panel-image-grid-area .grid-wrapper-grid-area,
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area.grid-area-five,
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area.grid-area-four,
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area.grid-area-one,
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area.grid-area-three,
  #panel-image-grid-area .grid-wrapper-grid-area .grid-area.grid-area-two {
      display: block;
      width: 100%
  }
}


/*# sourceMappingURL=styles-grid.css.map*/