a:visited, a, a:link {
  color: #8d0034;
}
a span{
display: block;
}
p a{
  line-height: calc(var(--baseline)*1.35*1rem) !important;
  margin-top: 0.25rem;
}
.stories a {
  color: #222 !important;
  font-size: 1.2rem;
  font-family: "Antenna Cond Bold", sans-serif !important;
}
.stories a:hover {
color: #8d0034 !important;
}
.creditHour{
color: #8d0034 !important;
}
.ml-0{
margin-left: 0 !important;
}
.ol-style, .ul-style {
margin-bottom: 1.25rem !important;
}
div.action, table+div.action{
margin-top: 0!important
}
.program-at-glance #nickHelp{
margin-top: 0.25rem;
line-height: calc(var(--baseline)*1.35*1rem) !important;
}
.home-jumbotron .gr-cntrl a{
  text-decoration: none !important;
}
.page .social-work-page .h3{
  margin-top: 1.75rem !important;
}
.vp-main-header .search-container .search-btn a, .vp-main-header .search-container .search-btn i{
cursor: pointer !important;
}
.vp-main-header .search-container .search-btn i:hover{
color: #febc18 !important;
}
.drop-menu .search-component{
display: inline-block; 
text-align: right; 
position: absolute; 
right: 1.75rem; 
margin: 0 0 .625rem !important;
}
.search-component .search-btn .fa-solid{
font-size: 1.15rem;
}
.pagParent{
text-align: right;
}
.form_label {
  color: #fff !important;
  display: block !important;
  font-family: "OpenSans Regular", sans-serif !important;
  font-size: 18px !important;
  font-variation-settings: "wght" 600!important;
  font-weight: 600 !important;
  line-height: calc(var(--baseline)*1.35*1rem) !important;
  margin: 0 !important;
  text-transform: none !important;
  width: 100% !important
}

.form_label p{
margin-bottom: 0 !important;
}

.story-program-card .title a{
  color: #fff !important;
}

div.form_responses{
display: block !important;
padding: 5px 0;
}

div.form_responses select{
  display: block !important;
  background-size: .8rem .8rem!important;
  border: 1px solid #222 !important;
  border-radius: .3125rem !important;
  font-size: .875rem !important;
  font-weight: 100 !important;
  line-height: 1.25rem !important;
  margin: 0 !important;
  padding: .8rem 1rem !important
}

div.form_responses input, div.form_responses textarea, form.luc-form textarea{
   margin: 0 !important;
} 
.home-jumbotron .gr-cntrl .gr-cntrl-item-1 {
      flex-basis: 40% !important
  }
  .home-jumbotron .gr-cntrl .gr-cntrl-item-2 {
      flex-basis: 40% !important
  }
  .home-jumbotron .gr-cntrl .gr-cntrl-item-3 {
      flex-basis: 5% !important
  }
.home-jumbotron .gr-cntrl .gr-cntrl-item-3 .btn {
width: 100% !important;
margin-left: 0 !important;
}
form.luc-form.gr-cntrl-item-3 .button,form.luc-form.gr-cntrl-item-3 button
    {
    background: #8d0034;
  color: #fff !important;
    width: 100%;
    }

form.luc-form.gr-cntrl-item-3 .button:hover,form.luc-form.gr-cntrl-item-3 button:hover{
background-color: #5d0024 !important;
color: #fff !important;
}

.S {
  border-radius: .25rem !important;
  border-width: .0625rem !important;
  padding: .625rem !important;
  width: 100% !important
}

input[type=text]{
font-size: inherit;
line-height: inherit;
}

.gray-content-block .wf-accordion{
background-color: #eee;
margin-bottom: 2.5rem;
}

.gray-content-block .wf-accordion .is-open{
background-color: #d5d5d5;
}

.white-bg .wf-accordion{
margin-bottom: 2.5rem;
}

.white-bg .wf-accordion .accordion-trigger{
background: #fff;
color: #222;
}

.white-bg .wf-accordion .accordion-trigger:hover{
background: #fff;
color: #222 !important;
}

.white-bg .wf-accordion .is-open .accordion-trigger, .white-bg .wf-accordion .is-open .accordion-trigger:hover{
background: #fff !important;
color: #222 !important;
}
.white-bg .wf-accordion .tabs-panel:not(:last-child){
  border-bottom: 1px solid #d5d5d5;
  border-bottom: none;
}

.btn-wrap .paag-apply-btn{
  color: #fff !important;
}

.btn-wrap.paag-apply-btn:hover, .btn-wrap.paag-request-btn:hover {
  color: #fff !important;
}

form.luc-form button.default:hover{
background-color: #F98E2B;
color: #222 !important;
}

li p{
margin: 0 !important;
padding: 0 !important;
}
.card.card-gray-bg.no-img{
padding-top: 1.25rem;
}
.card.card-gray-bg.no-img .title{
margin-top: 0;
}
.card.card-gray-bg.no-img .btn{
text-align: left;
}
.program-at-glance .tabs label {
  background: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
  display: block;
  font-weight: 700;
  margin-right: 0.5rem;
  margin-left: 0;
  order: 1;
  padding: 1rem;
  text-transform: capitalize;
  position: relative;
  transition: background .2s ease
}

@media screen and (min-width:768px) {
  .program-at-glance .tabs label {
      padding: 0.25rem 0.5rem;
      margin-bottom: 0.25rem
  }
}

@media (max-width:45em) {
  .program-at-glance .tabs label {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-right: 0;
      margin-top: .2rem;
      width: 100%
  }
  .program-at-glance .tabs label:after {
      content: "+";
      font-family: Font Awesome\ 6 Free;
      font-size: 18px;
      position: absolute;
      right: 20px;
      top: calc(50% - 15px)
  }

  .program-at-glance  .tabs .tab{
       padding: 0.5rem 0 0 1rem !important;
  }
}

.program-at-glance  .tabs label:hover
{
  background: transparent;
  color: #8d0034 !important;
  text-decoration: underline
}

.program-at-glance  .tabs .tab {
  background: transparent;
  border-top: 0;
  display: none;
  flex-grow: 1;
  order: 99;
  padding: 1rem 0 0 0;
  width: 100%
}

.program-at-glance  .tabs input[type=radio]:checked+label {
  background: transparent;
  color: #8d0034 !important;
  text-decoration: underline
}
.program-at-glance  .tabs {
  margin-bottom: 0;
}

.program-at-glance select{
  width: 95%;
  padding: 0.5rem 1rem;
  font-family: inherit;
  margin: 0 0 1.25rem 0;
  border-radius: 4px!important;
  line-height: 1.25rem;
  background-image: url(data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>)!important;
  background-size: 0.8rem 0.8rem!important;
  border: 1px solid #222;
  overflow: hidden !important;
}

@media screen and (min-width: 48rem){
.card.card-gray-bg.no-img{
padding: 1.25rem 1.5rem;
margin-left: 0;
}
  .pc .program-at-glance .left-side  {
      padding: 1.5rem 0 2.1875rem 2.8125rem !important;
}
.home-jumbotron .gr-cntrl .gr-cntrl-item-1 {
      flex-basis: 38% !important
  }
  .home-jumbotron .gr-cntrl .gr-cntrl-item-2 {
      flex-basis: 38% !important
  }
  .home-jumbotron .gr-cntrl .gr-cntrl-item-3 {
      flex-basis: 15% !important
  }

}
@media screen and (min-width: 48rem){
.story-program-card.program-card .title a  {
      padding: 0 0.5rem;
}
.story-program-card.program-card .title .secondary{
       padding: 0 0.5rem;
}
.story-program-card.program-card .spec p{
      padding: .1875rem 0.5rem;
}
.story-program-card.program-card .body .btn-group{
      padding: 0 0.5rem;
}
.story-program-card.program-card .drawer p{
      padding: 0.5rem;
}
.story-program-card.program-card .drawer .btn{
      margin: 0.5rem !important; 
}
}
.story-program-card.program-card .drawer p{
margin-top: 0.5rem;
}
.no-results .nr-p{
font-family: "Antenna Cond Bold", sans-serif !important;
font-size: 2.125rem !important;
padding: 1rem;
}
@media screen and (min-width: 48rem){
.program-card-row {
  grid-template-columns: 100%;
}
.story-program-card {
margin-left: 0;
margin-right: 1.25rem;
}
}
@media screen and (min-width: 992px){
.program-card-row {
  margin-left: 1rem;
}
}

@media screen and (min-width: 48rem){
.home-jumbotron .gr-cntrl .gr-cntrl-item-3 .btn{
padding: 10px 3rem;
}
.gs-heading .btn-cta{
margin-bottom: 0;
margin-top: 0 !important;
}
}
.content-text .h2{
  margin-top: 3rem;
}

@media screen and (min-width: 56.25rem) {
  .h1 {
      font-size: 3.25rem;
      line-height: 3.75rem;
  }
.stories-row {
grid-template-columns: 50% 50% !important;
margin-left: 0;
}
}
.marginallyBetter{
margin: 1.75rem;
}
.bigNum{
font-family: 'Antenna Cond Bold', sans-serif; 
font-size: 5rem; 
color: #8d0034; 
text-align: center; 
padding: 1 rem 0;
}
.bigNumDesc{
text-transform:uppercase; 
font-family: 'Antenna Cond Light',sans-serif; 
text-align: center; 
margin: 1.5rem 0; 
font-size: 22px;
}
@media screen and (min-width: 48rem){
.marginallyBetter{
margin: 3rem;
}
}
.square-img-left img, .square-img-right img {
  width: 100%;
  }

    .square-img-left, .square-img-right{
      width:auto;
      margin: 1rem 1.5rem;
      display: block;
      overflow: hidden;
      padding: 0;
      position: relative;
    }

    .simple-content{
    margin-top: 2rem;  
    }
    .simple-content .h2{  
     margin-bottom: 2rem;
    }

    @media screen and (min-width: 992px){
    .square-img-left, .square-img-right{
      max-width: 450px;
      max-height: 350px;
    }

    .why-loyola .square-img-left, .why-loyola .square-img-right{
      max-width: 500px;
      max-height: 450px;
    }

    .square-img-left{
        margin: 0 2rem 2rem 0;
        float: left;
    }
     .square-img-right{
        margin: 0 0 2rem 2rem;
        float: right;
    }
    .wl{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    }
    

.cost-dropdown{
padding: 0.5rem 1rem;
border-radius: 4px!important;
width: 100%;
}

.gs-heading-inner-content{
padding-bottom: 1rem;
}
.sunken-ul{
padding-left: 1rem; 
margin-top: 0.5rem !important;
margin-bottom: 0 !important;
}
.site-footer a{
margin-top: 0;
}
.site-footer .h5{
margin-top: 1.25rem;
}
.site-footer ul{
margin: 0.75rem 0;
}
.card.card-gray-bg.wl{
margin: 0 1rem 1.25rem;
}
@media (min-width: 48rem){
.site-footer .contact{
margin-top: 2.5rem !important;
}
}
@media (min-width: 992px){
.site-footer-top .gr12-col-lg-4 {
  padding-left: 5rem !important;
}
.gr12-col-md-4 {
  flex: 0 0 auto;
  width: 33.333333% !important;
}
.gr12-col-md-8 {
  flex: 0 0 auto;
  width: 66.66666667% !important;
}
}
@media (max-width: 991px){
.gr12-col-md-4 {
  flex: 0 0 auto;
  width: 100% !important;
}
.gr12-col-md-8 {
  flex: 0 0 auto;
  width: 100% !important;
}
.card.card-gray-bg.wl{
margin: 0 1.875rem 1.25rem;
}
}
@media screen and (max-width: 768px){
.site-footer .footer-contact{
padding: 0;
}
.site-footer ul{
margin-bottom: 2rem;
}
.sunken-ul{
margin-bottom: 0!important;
}
.site-footer-bottom p{
text-align: center;
}
}
