:root body {
  --baseline: 1.2;
  line-height: calc(var(--baseline))
}

:root body footer,
:root body header {
  --baseline: 1;
  line-height: calc(var(--baseline))
}

html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  font-family:sans-serif
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{
  display:block
}

ol,
ul {
  font-family: "OpenSans Regular", sans-serif;
  font-variation-settings: "wght" 300!important
}

ol,
p,
ul {
    color: #2a2a2a
}

a:visited, a, a:link {
  color: #8d0034;
}

li a {
  font-weight: 400
}

a.cta,
li a,
li a em,
li em a,
p a {
    color: #8d0034
}

a {
  color: #8d0034;
  display: inline;
  font-family: inherit;
  font-weight: 700;
  transition: color .3s ease-in-out, background-color .3s ease-in-out
}

a:focus {
  outline: 3px solid #febc18;
  outline-offset: -3px;
  outline-style: solid
}

a,
button,
button a,
button a:hover,
button:hover {
    cursor: pointer!important
}

a{
  background-color:transparent
}
a:active,a:hover{
  outline:0
}

.gr12-grid {
  display: grid;
  gap: var(--bs-gap, 1.5rem);
  grid-template-columns: repeat(var(--bs-columns, 12), 1fr);
  grid-template-rows: repeat(var(--bs-rows, 1), 1fr)
}

.gr12-container,
.gr12-container-fluid,
.gr12-container-lg,
.gr12-container-md,
.gr12-container-sm,
.gr12-container-xl,
.gr12-container-xxl {
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--gutter-x)*.5);
  padding-right: calc(var(--gutter-x)*.5);
  width: 100%
}

@media (min-width:576px) {
  .gr12-container,
  .gr12-container-sm {
      max-width: 540px
  }
}

@media (min-width:768px) {
  .gr12-container,
  .gr12-container-md,
  .gr12-container-sm {
      max-width: 720px
  }
}

@media (min-width:992px) {
  .gr12-container,
  .gr12-container-lg,
  .gr12-container-md,
  .gr12-container-sm {
      max-width: 960px
  }
}

@media (min-width:1200px) {
  .gr12-container,
  .gr12-container-lg,
  .gr12-container-md,
  .gr12-container-sm,
  .gr12-container-xl {
      max-width: 1140px
  }
}

@media (min-width:1400px) {
  .gr12-container,
  .gr12-container-lg,
  .gr12-container-md,
  .gr12-container-sm,
  .gr12-container-xl,
  .gr12-container-xxl {
      max-width: 1270px
  }
}

header{
  background:rgba(0,0,0,.7);
  border:0;
  border-radius:0;
  box-shadow:0 2px 5px rgba(0,0,0,.35);
  margin:0;
  padding:0;
  position:relative;
  top:0;
  width:100%;
  z-index:2
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
  border:0;
  font-size:100%;
  font:inherit;
  margin:0;
  padding:0;
  vertical-align:baseline
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{
  display:block
}

*{
  box-sizing:border-box
}

body {
  background-color: none;
  color: #000;
  font-family: "OpenSans Regular", sans-serif
}

:host,
:root {
  --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free"
}

@font-face {
  font-display: block;
  font-family: Font Awesome\ 6 Free;
  font-style: normal;
  font-weight: 900;
  src: url(/shared/fonts/fa/fa-solid-900.woff2) format("woff2"), url(/shared/fonts/fa/fa-solid-900.ttf) format("truetype")
}

.fa-solid,
.fas {
  font-family: Font Awesome\ 6 Free;
  font-weight: 900
}

:host,
:root {
  --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands"
}

@font-face {
  font-display: block;
  font-family: Font Awesome\ 6 Brands;
  font-style: normal;
  font-weight: 400;
  src: url(/shared/fonts/fa/fa-brands-400.woff2) format("woff2"), url(/shared/fonts/fa/fa-brands-400.ttf) format("truetype")
}

.fa-brands,
.fab {
  font-family: Font Awesome\ 6 Brands;
  font-weight: 400
}

.fa-solid,
.fas {
  font-family: Font Awesome\ 6 Free;
  font-weight: 900
}

.fa,
.fa-brands,
.fa-duotone,
.fa-light,
.fa-regular,
.fa-solid,
.fa-thin,
.fab,
.fad,
.fal,
.far,
.fas,
.fat {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1
}

.fa-magnifying-glass:before,
.fa-search:before {
  content: "\f002"
}

.vp-main-header a.nav-link-highlight {
  background: #febc18;
  border-radius: .3125rem;
  color: #000!important;
  font-family: "Antenna Cond Bold",Arial,sans-serif !important;
  margin-top: .1875rem;
  padding: .375rem 1.0625rem!important;
  text-transform: uppercase
}

.vp-main-header a.nav-link-highlight:hover {
  background: #f98e2b;
  text-decoration: none
}

.vp-main-header a.nav-link-highlight:focus {
  outline: .125rem solid #fff
}


.vp-main-header {
  box-shadow: 0 .1875rem .5rem rgba(0, 0, 0, .24);
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  z-index: 999
}

.vp-main-header .vp-utility-nav {
  background: #8d0034;
  color: #fff;
  padding: .625rem 2.8125rem .375rem 0
}

@media screen and (max-width:48rem) {
  .vp-main-header .vp-utility-nav {
      display: none
  }
}

.vp-main-header .vp-utility-nav a {
  color: #fff;
  text-decoration: none
}

.vp-main-header .vp-utility-nav a:hover {
  text-decoration: underline
}

.vp-main-header .vp-utility-nav ul.vp-dropdown-menu {
  background: #555;
  border-bottom: .1875rem solid #8d0034;
  border-radius: 0;
  padding: 0;
  top: 2.375rem
}

.vp-main-header .vp-utility-nav ul.vp-dropdown-menu a {
  background: none;
  font-weight: 200;
  padding: .375rem 1.5625rem;
  transition: none
}

.vp-main-header .vp-utility-nav ul.vp-dropdown-menu a:hover {
  background: #3c3c3c;
  text-decoration: none
}

.vp-main-header .vp-utility-nav .vp-dropdown-toggle:after {
  border: none;
  content: "\f078";
  font-family: Font Awesome\ 6 Free;
  margin-left: .4375rem;
  vertical-align: 0
}

.vp-main-header .vp-utility-nav .vp-dropdown-toggle.show:after {
  border: none;
  content: "\f077";
  font-family: Font Awesome\ 6 Free;
  margin-left: .4375rem;
  vertical-align: 0
}

.vp-main-header .vp-utility-wrap {
  justify-content: flex-end
}

.vp-main-header .nav-link {
  font-family: "Antenna Cond Bold", sans-serif;
  font-size: .875rem;
  font-weight: 200;
  margin-left: .3125rem;
  margin-right: .3125rem;
  padding: .625rem .3125rem
}

.vp-main-header .vp-utility-nav .nav-link {
  font-family: "OpenSans Regular", sans-serif
}

.vp-main-header .site-name {
  border-top: .0625rem dashed #222;
  color: #222 !important;
  font-family: "Antenna Cond Bold", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0;
  padding-top: .3125rem;
  width: 100%
}

@media screen and (min-width:48.0625rem) {
  .vp-main-header .site-name {
      border: none;
      border-left: .0625rem dashed #222;
      font-size: 1.5rem;
      max-width: 21.25rem;
      padding: 0 0 0 1.25rem;
      width: auto
  }
}

.vp-main-header .site-name .sub-title-link {
  font-size: 1rem;
  line-height: 1.75rem
}

@media screen and (min-width:48rem) {
  .vp-main-header .site-name .sub-title-link {
      font-size: 1.5rem
  }
}

.vp-main-header .search-container {
  display: inline-block;
  height: .5rem;
  margin: .25rem .5625rem;
  position: relative;
  vertical-align: bottom;
  width: 1.4375rem
}

.vp-main-header .search-container .search-btn {
  color: #fff !important;
  font-size: 1rem;
  padding-top: .1875rem;
  position: absolute;
  width: 100%
}

.vp-main-header .search-container .search-btn span {
  display: none
}

.vp-main-header .search-container .search {
  position: relative
}

.vp-main-header .search-container .search input {
  background: #fff;
  border: none;
  color: #222;
  height: 1.875rem;
  outline: none;
  padding: 0;
  position: absolute;
  right: 0;
  text-transform: none;
  top: -.25rem;
  transition-duration: .4s;
  -moz-transition-duration: .4s;
  -webkit-transition-duration: .4s;
  -o-transition-duration: .4s;
  width: 0;
  z-index: 10
}

.vp-main-header .search-container .search input::-moz-placeholder {
  color: #222;
  font-size: .875rem;
  text-transform: none
}

.vp-main-header .search-container .search input::placeholder {
  color: #222;
  font-size: .875rem;
  text-transform: none
}

.vp-main-header .search-container .search .search--btn {
  display: none
}

.vp-main-header .search-container .search.open input {
  background: #fff;
  border: .0625rem solid #222;
  border-radius: .25rem;
  color: #222;
  padding: 0 1rem 0 .625rem;
  width: 14.625rem !important;
  max-width: inherit !important;
}

.vp-main-header .search-container .search.open input+.search-btn {
  display: none
}

.vp-main-header .search-container .search.open .search--btn {
  background: none;
  color: #222 !important;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  right: .4375rem;
  top: .0625rem;
  z-index: 12
}

.vp-main-header .search-container .search--btn,
.vp-main-header .search-container .search--btn *,
.vp-main-header .search-container label.search-btn,
.vp-main-header .search-container label.search-btn * {
  cursor: pointer
}

@media screen and (max-width:48rem) {
  .vp-main-header .vp-navbar-brand {
      flex-basis: calc(100% - 4.25rem)
  }
}

@media screen and (min-width:48.0625rem) {
  .vp-main-header .vp-navbar-brand {
      margin-left: 1.25rem;
      opacity: 1;
      transition: all .2s ease
  }
}

.vp-main-header .vp-navbar-brand:hover {
  opacity: .5
}

.vp-main-header .vp-navbar-brand img {
  max-width: 9.0625rem;
  width: 100%
}

@media screen and (min-width:48.0625rem) {
  .vp-main-header .vp-navbar-brand img {
      margin-top: .3425rem;
      max-width: 15.625rem
  }
}

.vp-main-header .vp-navbar-brand,
.vp-main-header .vp-navbar-brand a,
.vp-main-header .vp-navbar-brand img {
  cursor: pointer!important
}

.vp-main-header .vp-main-nav {
  background: #fff;
  margin: 0
}

@media screen and (min-width:48.0625rem) {
  .vp-main-header .vp-main-nav {
      padding: .3125rem 1.25rem
  }
}

.vp-main-header .vp-main-nav a {
  color: #222 !important;
  font-size: 1.125rem;
  font-weight: 900
}

.vp-main-header .vp-main-nav .nav-item {
  margin-left: .9375rem;
  margin-right: .9375rem
}

.vp-main-header .vp-main-nav .nav-link {
  margin-bottom: .125rem;
  overflow: hidden;
  padding-bottom: .1875rem
}

.vp-main-header .vp-main-nav .nav-link:after {
  background: #8d0034;
  content: "";
  display: block;
  height: .25rem;
  margin-left: -125%;
  margin-top: .25rem;
  transition: all .2s ease;
  width: 100%
}

.vp-main-header .vp-main-nav .nav-link:hover:after {
  margin-left: 0
}

.vp-main-header .vp-main-nav.cloned-sticky {
  left: 0;
  position: fixed;
  top: -15.625rem;
  transition: all .3s ease;
  width: 100%;
  z-index: 9999
}

.vp-main-header .vp-main-nav.fixed-top {
  box-shadow: 0 .1875rem .5rem rgba(0, 0, 0, .24);
  top: 0
}

@media screen and (min-width:48.0625rem) {
  .vp-main-header .vp-main-nav.fixed-top {
      padding: 0 .3125rem
  }
  .vp-main-header .vp-main-nav.fixed-top .vp-navbar-brand-link {
      display: none;
      margin-left: 0
  }
  .vp-main-header .vp-main-nav.fixed-top .site-name {
      border-left: none;
      max-width: unset;
      padding-left: 0
  }
}

.vp-main-header .no-box-shadow {
  box-shadow: none!important
}

.vp-main-header .main-menu-wrap {
  align-items: center;
  background: #fff;
  display: flex;
  padding: .3125rem 1rem;
  position: relative;
  width: 100%;
  z-index: 999
}

@media screen and (max-width:48rem) {
  .vp-main-header .main-menu-wrap {
      flex-wrap: wrap
  }
}

.vp-main-header .vp-main-nav-wrap {
  flex-basis: auto
}

@media screen and (max-width:48rem) {
  .vp-main-header .vp-main-nav-wrap {
      display: none
  }
}

.vp-main-header .vp-main-nav-wrap .vp-navbar-nav {
  flex-direction: row;
  justify-content: flex-end
}

.vp-main-header .vp-navbar-toggler {
  display: block
}

@media screen and (max-width:48rem) {
  .vp-main-header .vp-navbar-toggler {
      flex-basis: 3.125rem;
      font-size: 1.75rem
  }
}

@media screen and (min-width:48.0625rem) {
  .vp-main-header .vp-navbar-toggler {
      display: none
  }
}

.vp-main-header .vp-navbar-brand-link {
  display: block
}

.vp-main-header .vp-navbar-brand-link:focus {
  border: .0625rem dashed gray!important
}

.vp-main-header .drop-menu {
  background: #eee;
  display: grid;
  grid-template-areas: "top" "none" "bottom";
  grid-template-columns: 100%;
  grid-template-rows: auto;
  height: 100vh;
  left: 0;
  margin: 0;
  opacity: 0;
  overflow-y: scroll;
  padding: 6.25rem 1.25rem 1.25rem;
  position: fixed;
  top: 0;
  transform: translateY(-100vh);
  transition: all .2s ease;
  width: 100vw;
  z-index: 20
}

.vp-main-header .drop-menu.open {
  opacity: 1;
  transform: translateY(0)
}

@media screen and (min-width:48.0625rem) {
  .vp-main-header .drop-menu {
      display: none!important
  }
}

.vp-main-header .drop-menu .mobile-menu-top {
  grid-area: top
}

.vp-main-header .drop-menu .mobile-menu-top .vp-navbar-mobile {
  grid-area: top;
  list-style: none;
  margin-top: .9375rem;
  padding: 0 .125rem
}

.vp-main-header .drop-menu .mobile-menu-top .vp-navbar-mobile li {
  border-bottom: .0625rem solid #555;
  padding: 1.25rem 0
}

.vp-main-header .drop-menu .mobile-menu-top .vp-navbar-mobile a {
  color: #222 !important;
  font-family: "Antenna Cond Bold";
  font-size: 1.125rem;
  line-height: 1.25rem;
  text-decoration: none
}

.vp-main-header .drop-menu .mobile-menu-top .vp-navbar-mobile a:hover {
  text-decoration: underline
}

.vp-main-header .drop-menu .mobile-menu-bottom {
  align-self: end;
  grid-area: bottom
}

.vp-main-header .drop-menu .mobile-menu-bottom .btn {
  color: #fff;
  font-family: "Antenna Cond Bold";
  font-size: 1.125rem;
  line-height: 1.25rem;
  margin-bottom: 1.5625rem;
  padding: .625rem 0
}

.vp-main-header .drop-menu .mobile-menu-bottom .btn:active,
.vp-main-header .drop-menu .mobile-menu-bottom .btn:hover {
  border-width: .1875rem!important
}

.vp-main-header .drop-menu .mobile-menu-bottom .btn-outline {
  background: none;
  border-width: .1875rem!important;
  color: #8d0034
}

.vp-main-header .drop-menu .mobile-menu-bottom .info-for-mobile {
  border-bottom: .125rem solid #555
}

.vp-main-header .drop-menu .mobile-menu-bottom .info-for-mobile .info-for {
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-family: "OpenSans Regular", sans-serif!important;
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1.25rem;
  margin: 0 0 .625rem
}

.vp-main-header .drop-menu .mobile-menu-bottom .info-for-mobile .info-for:after {
  content: "\f078";
  font-family: Font Awesome\ 6 Free;
  margin-left: .75rem
}

.vp-main-header .drop-menu .mobile-menu-bottom .info-for-mobile .info-for.is-open:after {
  content: "\f077"
}

.vp-main-header .drop-menu .mobile-menu-bottom .info-body {
  background: #555;
  padding: .625rem 1.25rem
}

.vp-main-header .drop-menu .mobile-menu-bottom .info-body ul {
  list-style: none
}

.vp-main-header .drop-menu .mobile-menu-bottom .info-body ul li {
  padding: .8125rem 0
}

.vp-main-header .drop-menu .mobile-menu-bottom .info-body ul a {
  color: #fff !important;
  font-family: "OpenSans Regular", sans-serif!important;
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1.25rem;
  text-decoration: none
}

.vp-main-header .drop-menu .mobile-menu-bottom .info-body ul a:hover {
  text-decoration: underline
}

.vp-main-header .vp-utility-wrap {
  justify-content: flex-end
}

@media (min-width:576px) {
  .vp-navbar-expand-sm {
      flex-wrap: nowrap;
      justify-content: flex-start
  }
  .vp-navbar-expand-sm .vp-navbar-nav {
      flex-direction: row
  }
  .vp-navbar-expand-sm .vp-navbar-nav .dropdown-menu {
      position: absolute
  }
  .vp-navbar-expand-sm .vp-navbar-nav .nav-link {
      padding-left: .5rem;
      padding-right: .5rem
  }
  .vp-navbar-expand-sm .vp-navbar-nav-scroll {
      overflow: visible
  }
  .vp-navbar-expand-sm .vp-navbar-collapse {
      display: flex!important;
      flex-basis: auto
  }
  .vp-navbar-expand-sm .offcanvas-header,
  .vp-navbar-expand-sm .vp-navbar-toggler {
      display: none
  }
  .vp-navbar-expand-sm .offcanvas {
      background-color: transparent;
      border-left: 0;
      border-right: 0;
      bottom: 0;
      flex-grow: 1;
      position: inherit;
      transform: none;
      transition: none;
      visibility: visible!important;
      z-index: 1000
  }
  .vp-navbar-expand-sm .offcanvas-bottom,
  .vp-navbar-expand-sm .offcanvas-top {
      border-bottom: 0;
      border-top: 0;
      height: auto
  }
  .vp-navbar-expand-sm .offcanvas-body {
      display: flex;
      flex-grow: 0;
      overflow-y: visible;
      padding: 0
  }
}

.vp-navbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0;
  padding-top: 0;
  position: relative
}

.vp-navbar>.gr12-container,
.vp-navbar>.gr12-container-fluid,
.vp-navbar>.gr12-container-lg,
.vp-navbar>.gr12-container-md,
.vp-navbar>.gr12-container-sm,
.vp-navbar>.gr12-container-xl,
.vp-navbar>.gr12-container-xxl {
  align-items: center;
  display: flex;
  flex-wrap: inherit;
  justify-content: space-between
}

.vp-navbar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0
}

.vp-navbar-collapse {
  align-items: center;
  flex-basis: 100%;
  flex-grow: 1
}

.vp-main-header .search-container {
  display: inline-block;
  height: .5rem;
  margin: .25rem .5625rem;
  position: relative;
  vertical-align: bottom;
  width: 1.4375rem
}


.vp-main-header .search-container .search-btn {
  color: #fff !important;
  font-size: 1rem;
  padding-top: .1875rem;
  position: absolute;
  width: 100%
}

.vp-main-header .search-container .search-btn span {
  display: none
}


.vp-main-header .search-container .search-btn a, .vp-main-header .search-container .search-btn i{
  cursor: pointer !important;
  }

  
.vp-dropdown,
.vp-dropend,
.vp-dropstart,
.vp-dropup {
  position: relative
}

.vp-dropdown-toggle {
  white-space: nowrap
}

.vp-dropdown-toggle:after {
  border-bottom: 0;
  border-left: .3em solid transparent;
  border-right: .3em solid transparent;
  border-top: .3em solid;
  content: "";
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em
}

.vp-dropdown-toggle:empty:after {
  margin-left: 0
}

.vp-dropdown-menu {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(34, 34, 34, .15);
  border-radius: .25rem;
  color: #212529;
  display: none;
  font-size: 1rem;
  list-style: none;
  margin: 0;
  min-width: 10rem;
  padding: .5rem 0;
  position: absolute;
  text-align: left;
  z-index: 1000
}

.vp-dropdown-menu[data-bs-popper] {
  left: 0;
  margin-top: .125rem;
  top: 100%
}

.vp-dropdown-menu-start {
  --bs-position: start
}

.vp-dropdown-menu-start[data-bs-popper] {
  left: 0;
  right: auto
}

.vp-dropdown-menu-end {
  --bs-position: end
}

.vp-dropdown-menu-end[data-bs-popper] {
  left: auto;
  right: 0
}

@media (min-width:576px) {
  .vp-dropdown-menu-sm-start {
      --bs-position: start
  }
  .vp-dropdown-menu-sm-start[data-bs-popper] {
      left: 0;
      right: auto
  }
  .vp-dropdown-menu-sm-end {
      --bs-position: end
  }
  .vp-dropdown-menu-sm-end[data-bs-popper] {
      left: auto;
      right: 0
  }
}

@media (min-width:768px) {
  .vp-dropdown-menu-md-start {
      --bs-position: start
  }
  .vp-dropdown-menu-md-start[data-bs-popper] {
      left: 0;
      right: auto
  }
  .vp-dropdown-menu-md-end {
      --bs-position: end
  }
  .vp-dropdown-menu-md-end[data-bs-popper] {
      left: auto;
      right: 0
  }
}

@media (min-width:992px) {
  .vp-dropdown-menu-lg-start {
      --bs-position: start
  }
  .vp-dropdown-menu-lg-start[data-bs-popper] {
      left: 0;
      right: auto
  }
  .vp-dropdown-menu-lg-end {
      --bs-position: end
  }
  .vp-dropdown-menu-lg-end[data-bs-popper] {
      left: auto;
      right: 0
  }
}

@media (min-width:1200px) {
  .vp-dropdown-menu-xl-start {
      --bs-position: start
  }
  .vp-dropdown-menu-xl-start[data-bs-popper] {
      left: 0;
      right: auto
  }
  .vp-dropdown-menu-xl-end {
      --bs-position: end
  }
  .vp-dropdown-menu-xl-end[data-bs-popper] {
      left: auto;
      right: 0
  }
}

@media (min-width:1400px) {
  .vp-dropdown-menu-xxl-start {
      --bs-position: start
  }
  .vp-dropdown-menu-xxl-start[data-bs-popper] {
      left: 0;
      right: auto
  }
  .vp-dropdown-menu-xxl-end {
      --bs-position: end
  }
  .vp-dropdown-menu-xxl-end[data-bs-popper] {
      left: auto;
      right: 0
  }
}

.vp-dropup .vp-dropdown-menu[data-bs-popper] {
  bottom: 100%;
  margin-bottom: .125rem;
  margin-top: 0;
  top: auto
}

.vp-dropup .vp-dropdown-toggle:after {
  border-bottom: .3em solid;
  border-left: .3em solid transparent;
  border-right: .3em solid transparent;
  border-top: 0;
  content: "";
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em
}

.vp-dropup .vp-dropdown-toggle:empty:after {
  margin-left: 0
}

.vp-dropend .vp-dropdown-menu[data-bs-popper] {
  left: 100%;
  margin-left: .125rem;
  margin-top: 0;
  right: auto;
  top: 0
}

.vp-dropend .vp-dropdown-toggle:after {
  border-bottom: .3em solid transparent;
  border-left: .3em solid;
  border-right: 0;
  border-top: .3em solid transparent;
  content: "";
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em
}

.vp-dropend .vp-dropdown-toggle:empty:after {
  margin-left: 0
}

.vp-dropend .vp-dropdown-toggle:after {
  vertical-align: 0
}

.vp-dropstart .vp-dropdown-menu[data-bs-popper] {
  left: auto;
  margin-right: .125rem;
  margin-top: 0;
  right: 100%;
  top: 0
}

.vp-dropstart .vp-dropdown-toggle:after {
  content: "";
  display: inline-block;
  display: none;
  margin-left: .255em;
  vertical-align: .255em
}

.vp-dropstart .vp-dropdown-toggle:before {
  border-bottom: .3em solid transparent;
  border-right: .3em solid;
  border-top: .3em solid transparent;
  content: "";
  display: inline-block;
  margin-right: .255em;
  vertical-align: .255em
}

.vp-dropstart .vp-dropdown-toggle:empty:after {
  margin-left: 0
}

.vp-dropstart .vp-dropdown-toggle:before {
  vertical-align: 0
}

.vp-dropdown-divider {
  border-top: 1px solid rgba(34, 34, 34, .15);
  height: 0;
  margin: 0;
  overflow: hidden
}

.vp-dropdown-item {
  background-color: transparent;
  border: 0;
  clear: both;
  color: #212529;
  display: block;
  font-weight: 400;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  width: 100%
}

.vp-dropdown-item:focus,
.vp-dropdown-item:hover {
  background-color: #e9ecef;
  color: #1e2125
}

.vp-dropdown-item.active,
.vp-dropdown-item:active {
  background-color: #0d6efd;
  color: #fff !important;
  text-decoration: none
}

.vp-dropdown-item.disabled,
.vp-dropdown-item:disabled {
  background-color: transparent;
  color: #adb5bd;
  pointer-events: none
}

.vp-dropdown-menu.show {
  display: block
}

.vp-dropdown-header {
  color: #6c757d;
  display: block;
  font-size: .875rem;
  margin-bottom: 0;
  padding: .5rem 0;
  white-space: nowrap
}

.vp-dropdown-item-text {
  color: #212529;
  display: block;
  padding: 0
}

.vp-navbar>.gr12-container,
.vp-navbar>.gr12-container-fluid,
.vp-navbar>.gr12-container-lg,
.vp-navbar>.gr12-container-md,
.vp-navbar>.gr12-container-sm,
.vp-navbar>.gr12-container-xl,
.vp-navbar>.gr12-container-xxl {
  align-items: center;
  display: flex;
  flex-wrap: inherit;
  justify-content: space-between
}


a {
  color: #8d0034;
  display: inline;
  font-family: inherit;
  font-weight: 700;
  transition: color .3s ease-in-out, background-color .3s ease-in-out
}

a:focus {
  outline: 3px solid #febc18;
  outline-offset: -3px;
  outline-style: solid
}

.nav-link {
  color: #0d6efd;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out
}